<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

<h2>{{ item.name }} - Цена: {{ item.price }}</h2>
<h3>Связанные покупки:</h3>
<ul>
    {% for purchase in purchases %}
        <li>{{ purchase.name }} - {{ purchase.age }} лет - {{ purchase.date_purchase }}</li>
    {% endfor %}
</ul>

</body>
</html>