<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
  </head>
  <body>
    <style>
        h1 {
            font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif; /* Укажите "Гальветика" первым в списке шрифтов */
        }
    </style>

    <h1>
      {% for item in items %}
        <li>
          <a href="{% url 'detail_item' item.id %}">{{ item.name }} - Цена: {{ item.price }}</a>
        </li>
      {% endfor %}
    </h1>

    
  </body>
</html>
